* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: linear-gradient(
      to right,
      rgb(218,229,245), /* #DAE5F5 */
      rgb(232,243,255) /* #E8F3FF */
   );
}
